{% extends '::base.html.twig' %}


{% form_theme edit_form 'ExampleMainBundle:Form:fields.html.twig' %}
{% form_theme delete_form 'ExampleMainBundle:Form:fields.html.twig' %}

{% block body %}
    <h2>Course Edit</h2>


    {{ form_start(edit_form) }}
    Id
    {{ entity.id }}
    <br>
    Title
    {{ form_widget(edit_form.name) }}<br>

    Students:<br>
    {% for key in allStudents %}
        <input type="checkbox" {{ entity.hasStudent(key) ? 'checked="checked"' }} name="one_student[]" value="{{ key.id }}">{{ key.name }}<br>
    {% endfor %}<br><br>

    {{ form_end(edit_form) }}<br><br>
    <a href="{{ path('course') }}" class="btn btn-default">Back to the list</a>
{% endblock %}