{% extends '::base.html.twig' %}

{% block body -%}
    <div class="well"><h1 style="display: inline">Course list</h1>
        <a class="btn btn-default" href="{{ path('course_new') }}" style="display: inline; float: right">Create a new course</a>
    </div>

    <table class="table table-bordered table-striped table-hover table-condensed">
        {% for entity in entities %}
            <tr class="" id="{{ loop.index }}">
                <td style="min-width: 20px;"><a href="{{ path('course_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td style="width: 60px; text-align:center;"><a href="{{ path('enrolled', {'id':entity.id}) }}"><span class="badge">{{ entity.countStudents }}</span></a></td>
                <td style="width: 120px;">Balance: <span>{{ entity.countBalance }}</span></td>
                <td style="width: 120px;">
                    <ul>
                        <li>
                            <a href="{{ path('course_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('course_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>

            {% if loop.last %}
            <script type = "text/javascript">
                var len = {{ loop.length }};
            </script>
            {% endif %}
        {% endfor %}

    </table>

    <a class="btn btn-default" href="{{ path('course_new') }}">
        Create a new course
    </a>

    {% endblock %}
