{% extends '::base.html.twig' %}
{% form_theme form 'ExampleMainBundle:Form:fields.html.twig' %}

{% block body -%}

    <div class="row">
        <h1>Course creation</h1>

        {{ form_start(form) }}

        {{ form_errors(form) }}
        {{ form_row(form.name) }}

        {% for key in allStudents %}
        <input type="checkbox" name="one_student[]" value="{{ key.id }}">{{ key.name }}<br>
        {% endfor %}<br>

        {{ form_row(form.submit, { 'label': 'Create me'}) }}<br>
        <a href="{{ path('course') }}" class="btn btn-default">Back to the list</a><br>
        {{ form_end(form) }}
    </div>
{% endblock %}