{% extends '::base.html.twig' %}

{% form_theme delete_form 'ExampleMainBundle:Form:fields.html.twig' %}

{% block body -%}
    <h1>Course info</h1>
    <table class="table" style="max-width: 50%">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Course title</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Enrolled students:</th>
            <td>
                <div style = "background-color:greenyellow">
                    {% if students is empty %}Nobody there{% endif %}
                    {% for key in students %}
                        <a href="{{ path('student_show', { 'id': key.id }) }}">{{ key.name }}</a><br>
                    {% endfor %}
                </div>
            </td>
        </tr>
        <tr>
            <td><a href="{{ path('course') }}" class="btn btn-default">Back to the list</a></td>
            <td><a href="{{ path('course_edit', { 'id': entity.id }) }}"  class="btn btn-default">Edit course info</a></td>
            <td>{{ form(delete_form) }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}