body{
    background: rgba(170, 170, 170, 0.47);
}

.hidden{
    display: none;
}
.avatar>img{
    width: 150px;
}
#top_nav>li:hover{
    background-image: linear-gradient(to bottom, #d0d0d0 0, #868686 100%);

}
#top_nav>li:hover>a{
    color: #ffffff !important;
}
