{% extends '::base.html.twig' %}
{% form_theme edit_form 'ExampleMainBundle:Form:fields.html.twig' %}
{% form_theme delete_form 'ExampleMainBundle:Form:fields.html.twig' %}
{% block body %}
<h2>Student Edit</h2>


            {{ form_start(edit_form) }}
            Id
            {{ entity.id }}

                {% if entity.getWebPath is not null %}
                    <div class="avatar">
                        <img src="{{  asset(entity.getWebPath) }}">
                    </div>
                {% endif %}
            Name
            {{ form_widget(edit_form.name) }}<br>

            Country {{ form_widget(edit_form.country) }}<br>

            Dob  {{ form_widget(edit_form.dob) }}<br>

            Courses:<br>
                {% for key in allCourses %}
                    <input type="checkbox" {{ entity.hasCourse(key) ? 'checked="checked"' }} name="one_course[]" value="{{ key.id }}">{{ key.name }}
                {% endfor %}<br>
            Avatar {{ form_widget(edit_form.avatar) }}<br>

            Balance {{ form_widget(edit_form.balance) }}<br>
            {{ form_end(edit_form) }}<br>{{ form(delete_form) }}<br>

    <a href="{{ path('student') }}" class="btn btn-default">Back to the list</a>
{% endblock %}
