{% extends '::base.html.twig' %}

{% block body -%}

    <div class="well"><h1 style="display: inline">
        {% if courseName is defined %}{{ courseName }} : list of enrolled students{% else %}Student list{% endif %}</h1>
        <a class="btn btn-default" href="{{ path('student_new') }}" style="display: inline; float: right">Create a new student</a>
    </div>

    <table class="table table-bordered table-striped table-hover">
        {% for entity in entities %}
            <tr class="data_item {% if ((loop.index%2)>0) %} odd_tr {% else %} even_tr {% endif %}" id="{{ loop.index }}">
                <td style="min-width: 20px;"><a href="{{ path('student_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.country }}</td>
                <td>{% if entity.dob %}{{ entity.dob|date('Y-m-d') }}{% endif %}</td>
                <td>Courses: {{ entity.countcourses }}</td>
                <td>{{ entity.balance }}</td>
                <td style="width: 120px;">
                <ul>
                    <li>
                        <a href="{{ path('student_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('student_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
                </tr>
            </div>
        {% if loop.last %}
        <script type = "text/javascript">
            var len = {{ loop.length }};
        </script>
        {% endif %}
        {% endfor %}
        {% if totBalance is defined %}<tr><td colspan="2"> Total balance: {{ totBalance }}</td></tr>{% endif %}
    </table>


    <ul class="pagination" id="pagination">
        <li><a href="#" id="left_arrow">&laquo;</a></li>
        <script type = "text/javascript">
            var total_pages = parseInt(len/PAGE_SIZE);
            if (total_pages<(len/PAGE_SIZE)) total_pages++;
            for (var i = 1; i<= total_pages; i++){
                 document.write("<li class='pager_item' id = "+i+"><a href='#' >"+i+"</a></li>");
            }
        </script>

        <li><a href="#" id="right_arrow">&raquo;</a></li>
    </ul><br>
    <a class="btn btn-default" href="{{ path('student_new') }}">
        Create a new student
    </a>

{% endblock %}

