{% extends '::base.html.twig' %}
{% form_theme form 'ExampleMainBundle:Form:fields.html.twig' %}


{% block body -%}

<div class="row">
    <h1>Student creation</h1>

    {{ form_start(form) }}

        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.country) }}
        {{ form_row(form.dob) }}
        {{  form_row(form.balance) }}
        {{  form_row(form.avatar) }}

        {{ form_row(form.submit, { 'label': 'Create me'}) }}<br>
        <a href="{{ path('student') }}" class="btn btn-default">Back to the list</a>


        {% for key in allCourses %}
        <input type="checkbox" name="one_course[]" value="{{ key.id }}">{{ key.name }}
        {% endfor %}<br>


    {{ form_end(form) }}
</div>
{% endblock %}
