{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Student info</h1>
    <table class="table" style="max-width: 50%">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
                <td rowspan="6">
                    {% if entity.getWebPath is not null %}
                        <div class="avatar">
                            <img src="{{  asset(entity.getWebPath) }}">
                        </div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>Dob</th>
                <td>{{ entity.dob|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Courses:</th>
                <td>
                    <div style = "background-color:greenyellow">
                        {% if entity.courses is empty %}Nothing here{% endif %}
                        {% for key in entity.courses %}
                            <a href="{{ path('course_show', { 'id': key.id }) }}">{{ key.name }}</a><br>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <th>Balance</th>
                <td>{{ entity.balance }}</td>
            </tr>
        <tr>
            <td><a href="{{ path('student') }}" class="btn btn-default">Back to the list</a></td>
            <td><a href="{{ path('student_edit', { 'id': entity.id }) }}"  class="btn btn-default">Edit student info</a></td>
            <td>{{ form(delete_form) }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
