{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" class = "btn btn-default" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_errors(form) }}
            {{ form_label(form) }}
            {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
            {% if help is defined %}
                <span class="help">{{ help }}</span>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block submit_widget %}
    {% spaceless %}
        {% set type = type|default('submit') %}
        {{ block('button_widget') }}
    {% endspaceless %}
{% endblock submit_widget %}

